@model ManagementBots.Db.BotInfo
@{

    Layout = "_Layout";
}

@Html.HiddenFor(m=>m.Id)

<div class="form-group">
    <label for="Name">Название бота</label><br />
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
</div>

<div class="form-group">
    <label for="Token">Токен</label><br />
    @Html.TextBoxFor(m => m.Token, new { @class = "form-control" })
</div>

<div class="form-group">
    <label for="Url">URL</label><br />
    @Html.TextBoxFor(m => m.WebHookUrl, new {  @class = "form-control" })
</div>

<button type="button" class="btn btn-success"
        onclick="Save()">
    Сохранить
</button>

<script type="text/javascript">
    function Save() {

        var botInfo = {
            'Id': $("#Id").val(),
            'Name': $("#Id").val(),
            'Token': $("#Token").val(),
            'WebHookUrl': $("#WebHookUrl").val()
        
        }

        $.ajax({
            type: "POST",
            url: '/Home/SetWebHook/',
            data: JSON.stringify(botInfo),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {

            if (data == '')
                location.reload();

            else
                alert(data);



        }).error(function (data) {
            // если с ответом сервера чтото пошло не так...
        })
    }
</script>