

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Во время обработки Вашего запроса произошла ошибка</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
