@model IEnumerable<ManagementBots.Server>
@{

    Layout = "_Layout";
}
<!DOCTYPE html>
<h3>Список серверов | <a href="~/Category/Creator/">Добавить</a></h3>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Активно</td>
        <td>Изменить</td>
    </tr>

</table>
